*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.d-flex {
    display: flex;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green  {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
    background-color: red;
}

.blu {
    background-color:lightblue;
}